


<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('css') %>
</head>
<body>

<!-- utilice chat para estas cosas: margin-left:10px , brand-logo left
<div class="container" style="margin-top:30px"></div>
<%- include('scripts') %> -->


<nav class="blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo left" style="margin-left:10px">SOFOM Core Data Consulting</a>
        <ul class="right">
            <li><a href="/clientes/lista">Clientes</a></li>
            <li><a href="/operaciones/lista">Operaciones</a></li>
            <li><a href="/alertas/lista">Alertas</a></li>
            <li><a href="/contratos/lista">Contratos</a></li>
            <li><a href="/reportes/lista">Reportes</a></li>
            <li><a href="/admin/lista">Admin</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/reglas/lista">Reglas</a></li>
            <li><a href="/historial/lista">Historial</a></li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top:30px">
    <h4>Dashboard</h4>
</div>

<%- include('scripts') %>
</body>
</html>