<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contratos</title>

</head>
<body>
    <div class="container">
        <h1>Contratos</h1>
        
        <div class="search-row">
            <input type="text" placeholder="">
            <button class="btn">Nuevo contrato</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Fecha inicio</th>
                    <th>Vencimiento</th>
                    <th>Saldo</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aqui se hara el vaciado de datos de la lista de contratos -->
            </tbody>
        </table>
    </div>
</body>
</html>
