<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alertas</title>

</head>
<body>
    <div class="container">
        <h1>Alertas</h1>
        <!-- Aqui tenemos que agregar la que dijo la oficial de cumplimiento, espero las notas para modificarlo-->
        <div class="tabs">
            <div class="tab active">Pendientes</div>
            <div class="tab">revision</div>
            <div class="tab">Resueltas</div>
            <div class="tab">Historial</div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Operación</th>
                    <th>Regla disparada</th>
                    <th>Nivel</th>
                    <th>Fecha</th>
                    <th>Responsable</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aqui se realizara el vaciado de datos o la llamada de datos en su defecto -->
            </tbody>
        </table>
    </div>
</body>
</html>
